@charset "utf-8";
/* CSS Document */
 * 
    {
    margin:0px;
    padding: 0px;
	}
	
	a:hover {
	cursor: pointer;
	color: #333333;
	text-decoration: none;
	}
	
	a:link, a:visited {
    color: #333333;
    text-decoration: none;
	}
	#header{
	
	}
	
	#position{
	text-align:center;
	left:280px;
	top:60px;
	position:absolute;
	font-size:20px;
	color:#415065;
	font-size:16px;
	}
	
	#login{
	text-align:center;
	right:60px;
	top:60px;
	position:absolute;
	font-size:20px;
	color:#415065;
	}
	
	#header a:link, #header a:visited {
    color: #415065;
    text-decoration: none;
	}
	#float{
    position: fixed;
    top: 53%;
    right:20px ;
    z-index: 100;
	}

	

	#float_table td{
    padding:20px;
    text-align:center;
    }

    #h_logo{
    margin-left:15px;
    margin-top:15px;
    height:160px;
    width:250px;
    cursor:pointer;
    }  
    
    #h_bar{
    left:500px;
	top:0;
	position:absolute;
	z-index:100;
    }
    
	.top_ul>li {
	 border-left:1.5px #f0f0f0 solid;
	 width:150px;
	 height:155px;
	 list-style: none;
	 text-align:center;
	 display: inline;
	 font-size:20px;
	 color:#424b50;
	 float:left; 
	}
	
	.top_ul a {
		display:block;
		padding:60px 20px 60px 20px;
	}
	
	.top_ul>li:hover{
		 animation:bar 1.5s;
		 animation-fill-mode:forwards;
	}
	
	@keyframes bar
	{
	from {background:white;}
	to {background:#ffff6f; color:#272727;}
	}
	#myCarousel{
	position:relative;
	bottom:20px;
	}
	#foot{
	text-align: center;
    line-height: 20px;
    font-size: 12px;
	width:100%;
	}
	#float{
    position: fixed;
    top: 53%;
    right:20px ;
    z-index: 100;
	}

	#float_table td{
    padding:20px;
  	}
  	
  	
  	
  	input { background-color: #fff; font-size: 1em; outline:none; text-indent: 10px; }

a:hover { opacity: 0.8; filter:alpha(opacity=80); text-decoration: blink }
.clear {clear: both;}


#place { background: url(../pics/dsfw.png) no-repeat 96% center; }
#destination { background: url(../pics/sui.png) no-repeat 96% center; }

#in_city {font-size:14px; background: #ddd; position: absolute; z-index: 999;border: solid 1px #d7d7d7; background: #fff;padding-bottom: 6px; }
.screen { overflow: hidden; }
.screen a { float: left; color: #129ace; padding: 1px 12.6px; text-align: center; border-bottom: solid 1px #97cbff; }
.screen a:hover { color: #c92436; }
.screen .shar { color: #404040; border: solid 1px #97cbff; border-bottom: none; }
.city_a_le1 { padding: 10px; overflow: hidden; }
.city_a_le1 a { float: left; width: 20%; margin: 2px 0; }
.Letter span { width: 12%; float: left; text-align: center; padding: 2px 0; }
.Letter div { width: 88%; float: left; }
.city_a_le1 a:hover { color: #c92436; }
.Letter div a { width: 25%; }
#in_city h1 { padding: 10px 0; color: #ababab; text-indent: 3%; }
input { border: solid 1px #e1e1e1; height: 28px; border-radius: 3px; text-indent: 10px; margin: 20px 0 10px 10px; width: 100px;}